@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Bold.woff2') format('woff2'),
    url('../font/NeueMontreal-Bold.html') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../font/NeueMontreal-BoldItalic.html') format('woff2'),
    url('../fonts/NeueMontreal-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Medium.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-LightItalic.woff2') format('woff2'),
    url('../fonts/NeueMontreal-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Light.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-MediumItalic.woff2') format('woff2'),
    url('../fonts/NeueMontreal-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Italic.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Deck';
  src: url('../fonts/CanelaDeck-Thin.woff2') format('woff2'),
    url('../fonts/CanelaDeck-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Deck';
  src: url('../fonts/CanelaDeck-Light.woff2') format('woff2'),
    url('../fonts/CanelaDeck-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Deck';
  src: url('../fonts/CanelaDeck-Regular.woff2') format('woff2'),
    url('../fonts/CanelaDeck-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('../fonts/NeueHaasDisplay-Roman.woff2') format('woff2'),
    url('../fonts/NeueHaasDisplay-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F9F9;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  cursor: url('../img/cursor.svg');
}

/* Page Preloader Start */
.page-preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 100000;
  background: #F7F9F9 url("../img/loading.gif") no-repeat center center;
  background-size: 5%;
  animation-name: preloader-fade;
  animation-delay: 0.8s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.preloader-complete {
  animation-delay: 0.05s;
}

@keyframes preloader-fade {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* Page Preloader end */

/* Custom Cursor Start */
#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
  cursor: url('../img/cursor.svg');
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    width: 64px;
    height: 64px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    border: solid 1px rgba(227, 222, 193, 0.64);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  #cursor.arrow .cursor__circle {
    width: 128px;
    height: 128px;
    background-color: #073099;
    border-color: #073099;
  }

  #cursor.arrow::after {
    content: '';
    position: absolute;
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    background-image: url('https://svgshare.com/i/MzQ.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  #cursor.subtle .cursor__circle {
    opacity: 0.16;
  }

  #cursor.overlay .cursor__circle {
    width: 48px;
    height: 48px;
    background-color: rgba(227, 222, 193, 0.08);
    border-color: transparent;
  }
}
/* Custom Cursor End */

/* Text Selection Start */
::-moz-selection {
  /* Code for Firefox */
  color: #F7F9F9;
  background: #000000;
}

::selection {
  color: #F7F9F9;
  background: #000000;
}
/* Text Selection End */

/* Navigation Start */
.navigation {
  position: relative;
}

.navigation ul {
  margin: 0;
  padding: 24px 0;
  list-style-type: none;
  text-align: right;
  /*
  border-bottom: 1px solid #000;
  */
  margin: 0 32px 0 32px;
}

.navigation ul li {
  display: inline;
}

.navigation ul li a {
  text-decoration: none;
  padding: 0 0 0 32px;
  color: #000;
  font-size: 18px;
  font-family: 'Neue Montreal';
  font-weight: normal;
}

.navigation ul li a img {
  margin-top: -12px;
}
/* Navigation End */

.hero__container {
  max-width: 100%;
  margin: 0px 32px 0px 32px;
}

.hero__container .subhero {
  width: fit-content;
  margin-top: 16px;
  text-align: end;
  position: relative;
  margin-left: auto;
}

.hero__container .subhero h4 {
  font-family: 'Neue Montreal';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #F6F6F6;
  background-color: #000000;
  padding: 16px 24px 16px 24px;
  border-radius: 16px 16px 0px 0px;
}

.hero__container .hero {
  width: 90%;
  margin-bottom: 96px;
}

.hero__container .hero h1 {
  font-family: 'Neue Montreal';
  font-weight: normal;
  font-size: 4vw;
  margin-top: 20vh;
  line-height: 3.0vw;
  color: black;
}

.hero__container .hero h1 span {
  font-family: 'Canela Deck';
  font-weight: 100;
  font-size: 4vw;
  margin-top: 20.96069868995633vh;
  line-height: 5.7vw;
  color: black;
}

.divider {
  border-bottom: 1px solid #000000;
  max-width: 100%;
  margin: 0 32px;
}

.spacer {
  margin: 128px 0;
}

.bild_spacer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 128px;
  margin-bottom: 128px;
}

.grid-container {
  margin-top: 32px;
  display: grid;
  grid-auto-columns: 2fr 1fr;
  grid-auto-flow: column;
  grid-gap: 32px;
  align-items: end;
}

.grid-container img {
  width: 100%;
  border-radius: 16px;
  transition: all 0.3s;
}

.grid-container img:hover {
  width: 100%;
  border-radius: 50%;
}

.grid-container figcaption {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 26px;
  font-family: 'Neue Montreal';
}

.grid-container a {
  font-size: 14px;
  float: left;
  font-family: 'Neue Montreal';
  margin-right: 8px;
  color: #888888;
  transition: all 0.3s;
  text-transform: uppercase;
}

.grid-container-image-1 {
  margin-top: 96px;
  display: grid;
  grid-auto-columns: 2fr 1fr;
  grid-auto-flow: column;
  gap: 32px;
  align-items: end;
}

.grid-container-image-1 img {
  width: 100%;
  border-radius: 16px;
  transition: all 0.3s;
  top: 100%;
}

.grid-container-image-1 img:hover {
  width: 100%;
  border-radius: 50%;
}

.grid-container-image-1 figcaption {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 26px;
  font-family: 'Neue Montreal';
}

.grid-container-image-1 a {
  font-size: 16px;
  float: left;
  font-family: 'Neue Montreal';
  margin-right: 8px;
  color: #888888;
  transition: all 0.3s;
  text-transform: uppercase;
}

.grid-container-image-2 {
  margin-top: 96px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 32px;
  align-items: end;
}

.grid-container-image-2 img {
  width: 100%;
  border-radius: 16px;
  transition: all 0.3s;
  top: 100%;
}

.grid-container-image-2 img:hover {
  width: 100%;
  border-radius: 50%;
}

.grid-container-image-2 figcaption {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 26px;
  font-family: 'Neue Montreal';
}

.grid-container-image-2 a {
  font-size: 16px;
  float: left;
  font-family: 'Neue Montreal';
  margin-right: 8px;
  color: #888888;
  transition: all 0.3s;
  text-transform: uppercase;
}

.content-container {
  margin-top: 48px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 32px;
}

.content-container h2 {
  font-size: 48px;
  font-family: 'Neue Montreal';
}

.content-container h3 {
  font-size: 32px;
  line-height: 41px;
  font-family: 'Canela Deck';
  font-weight: 100;
}

.content-container p {
  font-size: 24px;
  line-height: 32px;
  font-family: 'Neue Montreal';
  margin-bottom: 32px;
  font-weight: 400;
}

.content-container a {
  padding: 16px 48px;
  font-size: 18px;
  float: left;
  border-radius: 50px;
  font-family: 'Neue Montreal';
  margin-right: 8px;
  color: #ffffff;
  border: 1px solid #000000;
  background-color: #000000;
  transition: all 0.3s;
  text-transform: uppercase;
  margin-bottom: 32px;
  transition: all 0.3s;
  text-decoration: none;
}

.content-container a:hover {
  padding: 16px 48px;
  font-size: 18px;
  float: left;
  border-radius: 50px;
  font-family: 'Neue Montreal';
  margin-right: 8px;
  border: 1px solid #000000;
  color: #000000;
  background-color: #F7F9F9;
  transition: all 0.3s;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.container_grey {
  max-width: 100%;
  padding: 80px 32px;
}

.project-container {
  margin-top: 48px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 32px;
}

.leistungen__container {
  max-width: 100%;
  padding: 128px 32px;
  background-color: #EAECEC;
}

.leistungen__container__title {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 32px;
}

.leistungen__container__title h2 {
  font-size: 48px;
  font-family: 'Neue Montreal';
}

.leistungen__container__layout {
  margin-top: 64px;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  gap: 32px;
  align-items: end;
  text-align: center;
  background-color: #EAECEC;
}

.leistungen__container__layout div {
  text-align: left;
  padding: 24px;
  border-radius: 16px;
  background-color: #F7F9F9;
}

.leistungen__container__layout div img {
  width: 33%;
  margin-bottom: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.leistungen__container__layout div h3 {
  font-size: 48px;
  font-family: 'Neue Montreal';
  font-weight: 400;
  margin-bottom: 32px;
}

.leistungen__container__layout div h4 {
  font-size: 24px;
  line-height: 29px;
  font-family: 'Neue Montreal';
  font-weight: 400;
  margin-bottom: 24px;
}

.leistungen__container__layout div p {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Neue Montreal';
  font-weight: 400;
  margin-bottom: 32px;

}

.leistungen__container__layout div a {
  font-size: 16px;
  font-family: 'Neue Montreal';
  font-weight: 400;
  margin-bottom: 32px;
  border-bottom: 1px solid #000000;
  text-decoration: none;
  color: #000000;
}


.footer_container {
  padding-top: 128px;
  padding-bottom: 128px;
  padding-left: 24px;
  padding-right: 24px;
  display: grid;
  grid-auto-columns: 3fr 1fr;
  grid-auto-flow: column;
  gap: 32px;
  align-items: start;
  text-align: center;
  background-color: #EAECEC;
  text-decoration: none;
}

.footer_container div {
  text-align: left;
}

.footer_container div h4 {
  font-size: 48px;
  line-height: 58px;
  font-family: 'Neue Montreal';
  font-weight: 400;
}

.footer_container div h4 span {
  text-decoration: none;
  color: #000000;
  border-bottom: 3px solid #000000;
}

.subfooter_container {
  padding-top: 0px;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  gap: 32px;
  align-items: end;
  background-color: #EAECEC;
  text-align: center;
}

.subfooter_container div h6 {
  font-size: 16px;
  font-family: 'Neue Montreal';
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .divider {
    border-bottom: 1px solid #000000;
    max-width: 100%;
    margin: 0 24px;
  }

  .page-preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    background: #F7F9F9 url("../img/loading.gif") no-repeat center center;
    background-size: 20%;
    animation-name: preloader-fade;
    animation-delay: 0.8s;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

  .navigation ul {
    margin: 0;
    padding: 24px 0;
    list-style-type: none;
    text-align: right;
    margin: 0 24px 0 24px;
  }

  .navigation ul li {
    display: inline;
  }

  .navigation ul li a {
    text-decoration: none;
    padding: 0 0 0 24px;
    color: #000;
    font-size: 16px;
    font-family: 'Neue Montreal';
    font-weight: normal;
  }

  .navigation ul li a img {
    margin-top: -12px;
  }

  .hero__container {
    max-width: 100%;
    margin: 0 16px;
  }

  .spacer {
    margin: 48px 0;
  }

  .bild_spacer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 86px;
    margin-bottom: 64px;
    width: 20%;
  }

  .grid-container {
    display: block;
    margin-top: 24px;
  }

  .grid-container figcaption {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    font-family: 'Neue Montreal';
  }

  .hero__container .hero h1 {
    font-family: 'Neue Montreal';
    font-weight: normal;
    font-size: 2em;
    margin-top: 12vh;
    line-height: 1.2em;
    color: black;
    margin-bottom: 24px;
  }

  .hero__container .hero h1 span {
    font-family: 'Canela Deck';
    font-weight: 100;
    font-size: 0.9em;
    margin-top: 10vh;
    line-height: 1.2em;
    color: black;
    margin-bottom: 32px;
  }

  .grid-container a {
    font-size: 14px;
    float: left;
    font-family: 'Neue Montreal';
    margin-right: 8px;
    color: #737373;
    margin-bottom: 48px;
    text-transform: uppercase;
  }

  .grid-container-image-1 {
    display: block;
    margin-top: 48px;
  }

  .grid-container-image-1 img {}

  .grid-container-image-1 figcaption {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    font-family: 'Neue Montreal';
  }

  .grid-container-image-1 a {
    font-size: 14px;
    float: left;
    font-family: 'Neue Montreal';
    margin-right: 8px;
    color: #737373;
    margin-bottom: 48px;
  }

  .grid-container-image-2 {
    display: block;
    margin-top: 48px;
  }

  .grid-container-image-2 img {}

  .grid-container-image-2 figcaption {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    font-family: 'Neue Montreal';
  }

  .grid-container-image-2 a {
    font-size: 14px;
    float: left;
    font-family: 'Neue Montreal';
    margin-right: 8px;
    color: #737373;
    margin-bottom: 48px;
  }

  .content-container {
    margin-top: 24px;
    display: block;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 32px;
  }

  .content-container h2 {
    font-size: 32px;
    font-family: 'Neue Montreal';
  }

  .content-container h3 {
    font-size: 24px;
    line-height: 31px;
    font-family: 'Canela Deck';
    font-weight: 100;
    margin-bottom: 16px;
  }

  .content-container p {
    font-size: 20px;
    line-height: 24px;
    font-family: 'Neue Montreal';
    margin-bottom: 32px;
  }

  .content-container a {
    padding: 16px 48px;
    font-size: 18px;
    float: left;
    border-radius: 50px;
    font-family: 'Neue Montreal';
    margin-right: 8px;
    color: #ffffff;
    border: 1px solid #000000;
    background-color: #000000;
    transition: all 0.3s;
    text-transform: uppercase;
    margin-bottom: 64px;
    transition: all 0.3s;
    text-decoration: none;
  }

  .content-container a:hover {
    padding: 16px 48px;
    font-size: 18px;
    float: left;
    border-radius: 50px;
    font-family: 'Neue Montreal';
    margin-right: 8px;
    border: 1px solid #000000;
    color: #000000;
    background-color: #F7F9F9;
    transition: all 0.3s;
    text-transform: uppercase;
    margin-bottom: 64px;
  }

  .content-container br {
    display: none;
  }

  .container_grey {
    max-width: 100%;
    padding: 24px 16px 62px 16px;
  }

  .leistungen__container {
    padding-top: 48px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .leistungen__container__title h2 {
    font-size: 32px;
  }

  .leistungen__container__layout {
    margin-top: 48px;
    display: block;
    text-align: left;
  }

  .leistungen__container__layout div {
    margin-bottom: 24px;
  }

  .footer_container {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
    display: block;
    grid-auto-columns: 3fr 1fr;
    grid-auto-flow: column;
    gap: 32px;
    align-items: start;
    text-align: center;
    background-color: #EAECEC;
  }

  .footer_container div:nth-child(1) {
    text-align: left;
    margin-bottom: 32px;
  }

  .footer_container div:nth-child(2) {
    text-align: right;
    margin-bottom: 32px;
  }

  .footer_container div h4 {
    font-size: 32px;
    line-height: 38px;
    font-family: 'Neue Montreal';
    font-weight: 400;
  }
}



/**
 * Footer Styles
 */

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #737373;
  text-align: center;
}

