@font-face {
  font-family: ABC Diatype Regular;
  src: url(../fonts/ABCDiatype-Regular.woff);
}

@font-face {
  font-family: Telegraf Regular;
  src: url(../fonts/Telegraf-Regular.woff);
}

@font-face {
  font-family: Editorial New Light;
  src: url(../fonts/EditorialNew-LightItalic.woff);
}

@font-face {
  font-family: Neue World Condensed Light;
  src: url(../fonts/NeueWorld-CondensedLight.otf);
}

@font-face {
  font-family: Neue World Condensed Ultralight;
  src: url(../fonts/NeueWorld-CondensedUltralight.otf);
}

@font-face {
  font-family: Kern Medium;
  src: url(../fonts/KernMedium.otf);
}


body, html {
  height: 100%;
  margin: 0;
}

/* MENÜ */
.menu-open {
	color: #000000;
  z-index: 1000;
}

.menu-open {
	position: absolute;
	top: 0;
	right: 0;
	padding: 40px;
	font-size: 20px;
	cursor: pointer;
  background-image: url(../images/open.svg);
}

.menu-open:hover {
	position: absolute;
	top: 0;
	right: 0;
	padding: 40px;
	font-size: 20px;
	cursor: pointer;
  background-image: url(../images/open_hover.svg);
}

.menu-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 40px;
	font-size: 20px;
	cursor: pointer;
  background-image: url(../images/close.svg);
}

.menu-close:hover {
	position: absolute;
	top: 0;
	right: 0;
	padding: 40px;
	font-size: 20px;
	cursor: pointer;
  background-image: url(../images/close_hover.svg);
  opacity:0;
}

.socials {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 40px 100px;
}

.socials span {
	text-transform: uppercase;
	margin: 0 20px;
	letter-spacing: 0px;
}

.nav-container {
	position: fixed;
	left: -100%;
	width: 100%;
	height: 100vh;
	background: #fff;
  z-index: 1000;
  font-family: Neue World Condensed Ultralight;
  margin-bottom: -10px;
}

.menu__item {
	position: relative;
	padding: 0 6vw 0vw 6vw;

}

.menu__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	transition: opacity 0.4s;
}

.menu__item-link::before {
	all: initial;
	counter-increment: menu;
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.menu__item-link:hover {
	transition-duration: 0.1s;
	opacity: 0;
}

.menu__item-img {
	z-index: 2;
	pointer-events: none;
	position: absolute;
	height: 14vh;
	max-height: 600px;
	opacity: 0;
	left: 8%;
	top: 10%;
	transform: scale(0);
}

.menu__item-link:hover + .menu__item-img {
	opacity: 1;
	transform: scale(1);
	transition: all 0.4s;
}

.menu {
	padding: 10vh 0 25vh;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	font-size: 7vw;
}

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: rgb(214, 214, 214);
	pointer-events: none;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	opacity: 0;
	transition: all 0.1s;
	transform: translateX(60px);
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	opacity: 1;
	transform: translateX(0px);
	transition-duration: 0.4s;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: 7vw;
	padding: 0 1vw;
	line-height: 1.15;
}

.marquee span {
	font-style: italic;
}
/* MENÜ ENDE */

/* ANIMATION */
#blurry-circles{
  transition:opacity 500ms ease-out;
  animation-name:circleson;
  animation-duration:1s;
  animation-timing-function:ease-out;
  animation-iteration-count:1;
  animation-fill-mode:both
}

@keyframes circleson{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
   
.background{
  width:100vw;
  height:100vh;
  background:0 0;
  position:absolute;
  z-index:0;
  -webkit-transform: translate3d(0,0,0)
}

.background span{
  width:100vmin;
  height:100vmin;
  border-radius:60vmin;
  backface-visibility:hidden;
  position:absolute;
  animation-name:move;
  animation-duration:6s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  transition:opacity 1s ease-in-out
}

.background span:nth-child(1){
  color:#184646;
  top:66%;
  left:84%;
  animation-duration:13.2s;
  animation-delay:-11s;
  transform-origin:-1vw 3vh;
  box-shadow:-120vmin 0 10.7395569339vmin currentColor
}

.background span:nth-child(2){
  color:#ff800c;
  top:89%;
  left:24%;
  animation-duration:12.6s;
  animation-delay:-15.9s;
  transform-origin:-2vw -2vh;
  box-shadow:-120vmin 0 12.4319763489vmin currentColor
}

.background span:nth-child(3){
  color:#6e6bdf;
  top: 20%;
  left: 48%;
  animation-duration:16.6s;
  animation-delay:-8.8s;
  transform-origin:-5vw -5vh;
  box-shadow:-120vmin 0 7.869308108vmin currentColor
}
@keyframes move{
  100%{
      transform:translate3d(0,0,1px) rotate(360deg)
  }
}
 
#Hey {
	height: auto
}
  
#container-hey {
  position: relative;
  height: calc(100vh - 20px);
  width: calc(100% - 20px);
  border-radius: var(--radiussection);
  margin: auto;
  margin-top: auto;
  background-color: var(--lightcream);
  margin-top: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
/* ANIMATION ENDE */


/* LANDINGPAGE */
.landingpage_wrapper {
  width: calc(100% - 240px);
  margin: 60px auto;
}

.landingpage {
  text-align: center;
  position: relative;
  height: 50%;
  top: 25%;
}

.landingpage h1 {
  position: relative;
  font-family: Neue World Condensed Ultralight;
  font-size: 120px;
  font-weight: normal;
  mix-blend-mode: overlay;
  z-index: 1000;
}

/*
.landingpage h1:nth-child(odd) {
  position: relative;
  font-family: Telegraf Regular;
  font-size: 72px;
  font-weight: normal;
  margin: 0;
  margin-right: 10%;
  padding-top: 5%;
}

.landingpage h1:nth-child(even) {
  position: relative;
  font-family: Editorial New Light;
  font-size: 72px;
  font-weight: normal;
  margin: 0;
  margin-left: 10%;
}
*/

.landingpage h2 {
  position: relative;
  font-family: ABC Diatype Regular;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 30px;
  line-height: 32px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 500;
}

.landingpage a {
  position: relative;
  padding: 10px 20px 10px 20px;
  background: chartreuse;
  font-family: ABC Diatype Regular;
  border-radius: 10px;
  font-size: 24px;
}

.landingpage a:hover {
  position: relative;
  padding: 10px 20px 10px 20px;
  background: rgb(191, 255, 126);
  font-family: ABC Diatype Regular;
  border-radius: 10px;
  font-size: 24px;
}
/* LANDINGPAGE ENDE */

/* ÜBER UNS*/
.reihe {
  content: "";
  clear: both;
  display: table;
}

.reihe .column_left {
  float: left;
  width: 40%;
}

.reihe .column_left h2 {
  font-family: Neue World Condensed Ultralight;
  font-size: 72px;
  font-weight: normal;
  position: relative;
  float: left;
}

.reihe .column_right {
  float: left;
  width: 60%;
}

.reihe .column_right p {
  font-family: ABC Diatype Regular;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  position: relative;
  float: left;
}
/* ÜBER UNS ENDE */

/* PROJEKTE */
project-title h1 {
  font-weight: 300;
  font-size: 48px;
  font-family: Neue World Condensed Ultralight;
}

.project-categ {
  font-weight: lighter;
  font-size: 48px;
  font-family: ABC Diatype Regular;
}

.cursor {
  position: absolute;
  width: 400px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: scale(0.1);
  opacity: 0;
  margin: -100px 0 0 -100px;
  background: url(image-1.jpg) no-repeat 50% 50%;
  background-size: cover;
  z-index: 1;
}

.wrapper {
  width: calc(100% - 240px);
  margin: 90px auto;
  height: 100%;
}

.project {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 1;
  position: relative;
  z-index: 2;
  color: black;
  mix-blend-mode: color-burn;
  font-size: 48px;
  font-family: Neue World Condensed Ultralight;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


/* MOBILE VARIANTE */
@media only screen and (max-width: 900px) {
  .landingpage {
    text-align: center;
    top: 15%;
  }
  
  .landingpage h1 {
    position: relative;
    font-family: Neue World Condensed Ultralight;
    font-size: 60px;
  }
  
  .landingpage h2 {
    position: relative;
    font-family: ABC Diatype Regular;
    font-size: 24px;
  }
  
  .landingpage a {
    position: relative;
    padding: 10px 20px 10px 20px;
    background: chartreuse;
    font-family: ABC Diatype Regular;
    border-radius: 10px;
    font-size: 24px;
  }

  .reihe .column_left {
    float: left;
    width: 100%;
    text-align: center;

  }
  
  .reihe .column_left h2 {
    font-family: Neue World Condensed Ultralight;
    font-size: 60px;
    font-weight: normal;
    position: relative;
    margin-bottom: 20px;
  }
  
  .reihe .column_right {
    float: left;
    width: 100%;
    text-align: center;
  }
  
  .reihe .column_right p {
    font-family: ABC Diatype Regular;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    position: relative;
  }

  .wrapper {
    width: calc(100% - 40px);
    margin: 90px auto;
    height: 100%;
  }

  .landingpage_wrapper {
    width: calc(100% - 50px);
    margin: 50px auto;
  }

}